<!DOCTYPE html>
<html>
	<script>
	
	function buttonClick() {
	
	    $('.output').text("")
	    var searchText = document.getElementById('input').value;
        $.ajax({  
              type: "GET",
              dataType: "json",
              url: "http://localhost:8080/search/text?text="+searchText,
              success: function (response, status, xhr) {
            	  console.log("RESPONSE: "+response);
            	  
                  $.each(response, function(index, value) {
                    $('.output').append("Doc id:"+value.docid + ", sender: "+ value.sender + ", recipients: "+ value.recipients + ", cc: "+ value.cc +
                    		", bcc: "+ value.bcc + ", date: "+ value.date +" <br />");
      			   });        	  
                 },
              error: function (jqXHR, textStatus) {
            	   console.log( "Request failed: " + textStatus );
                 }
              });
    }
    //
    // var app = new Vue({
    //     el: '#app',
    //     data: {
    //         message: 'Hello Vue!'
    //     }
    // })
    //
    // var app2 = new Vue({
    //     el: '#app-2',
    //     data: {
    //         message: 'You loaded this page on ' + new Date().toLocaleString()
    //     }
    // })
	</script>

	<head>
 		<meta charset="UTF-8">
        <title>Spring Boot Elastic Search</title>
        <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
	<body>
   		<h3>Spring Boot Elastic Search</h3> <br> <br> 
		  Enter search text: <input type="text" id="input"> &nbsp; &nbsp;
		<button onclick="buttonClick()">Search</button> <br> <br>
	
    	<div>
  		  <p class="output"></p>
   	    </div>

		<!--<div id="app">-->
			<!--{{ message }}-->
		<!--</div>-->

		<!--<div id="app-2">-->
  			<!--<span v-bind:title="message">-->
    		<!--Hover your mouse over me for a few seconds-->
    		<!--to see my dynamically bound title!-->
  			<!--</span>-->
		<!--</div>-->
    </body>
</html>